
.text_nasa{
  font-size: 20px;
  color: aliceblue;
  font-weight: 700;
}

.logo_nasa{
  margin-left: 75%;
  width: 110px;
  height: 90px;
  margin-top: 80px;
}

.contenedor_text{
  position: absolute;
  width: 250px;
  margin-top: 95px;
  margin-left: 64%;
  text-align: center;
}


.input{
  margin-left: 390px;
}

.btn_input{
  margin-left: 1210px;
  margin-top: -67px;
  position: absolute;
}

.form_input{
  background: rgb(22, 18, 39);
  color: rgb(41, 15, 187);
  border: solid rgb(21, 71, 180);
  font-weight: 700;
  font-size: 30px;
  width: 790px;
  position: relative;
}

.form_input:focus{
  background: rgb(22, 18, 39);
  color: rgb(187, 15, 15);
  border: solid rgb(21, 71, 180);
  font-weight: 700;
  
}

input.form_input::placeholder { /* Ccambiar color del placeholder*/
  color: rgb(218, 19, 19);
  opacity: 1; /* Firefox */
}


.paginator{
  margin-left: 40%;
  position: sticky;
}


.modal{
  display: none;
  position: relative;
}

.conten1-open2{
  display: block;
  width: 790px;
  height: 100px;
  margin-top: -0.8%;
  margin-left: 21.7%;
  background-color: black;
}

.conten1-open3{
  display: block;
  width: 790px;
  height: 155px;
  margin-top: -0.8%;
  margin-left: 21.7%;
  background-color: black;
}

.list-items4{
  width: 790px;
  height: 90%;
}



.item-3{
  color: red;
  font-size: 20px;
}

.item-3:hover{
  background-color: chartreuse;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(39, 192, 19);
}